
<html>
<head>
  <meta charset="utf-8" />
  <title>Geocoding Control</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  {% load static %}
  {% load staticfiles %}
  
  <link rel="stylesheet" type="text/css" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/leaflet.draw.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/ui_toolbar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/draw.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/menu.css' %}" />
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/leaflet-distance-marker.ss' %}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
   <style>
     #mapid { height: 600px; }
	 </style>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/leaflet.toolbar.css' %}" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <!-- Load Leaflet from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>


  <!-- Load Esri Leaflet from CDN -->
  <script src="https://unpkg.com/esri-leaflet@2.4.1/dist/esri-leaflet.js"
  integrity="sha512-xY2smLIHKirD03vHKDJ2u4pqeHA7OQZZ27EjtqmuhDguxiUvdsOuXMwkg16PQrm9cgTmXtoxA6kwr8KBy3cdcw=="
  crossorigin=""></script>

  <!-- Load Esri Leaflet Geocoder from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
    integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
  crossorigin=""></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <script src="leaflet.draw.js"></script>
  <script src="ui_toolbar.js"></script>
  
  <script src="leaflet-distance-marker.js"></script>
  <script src="https://unpkg.com/elm-pep"></script>
 
  <!-- Had to include the toolbar after draw to get it to recognize L.Toolbar.Control properly. -->
  <script src="{% static 'main_app/leaflet.toolbar.js' %}"></script>
  <!-- <script src="{% static 'main_app/ui_toolbar.js' %}"></script> -->
  
  <style>
		body { margin:0; padding:0; }
    #map { position: absolute; top:0; bottom:0; right:0; left:0;height : 600px; }
  </style>  
 
 
    <style>
      .map {
        width: 100%;
        height:400px;
      }
    </style>
  
 </head>
<body>
  <div id="mapid"></div>
	<script>
		var mymap = L.map('mapid').setView([0, 0], 1);
		// L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Lh5i3UwoZFTD30Slqs4k', {
    // attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'}).addTo(mymap);
	</script>
  <div class="container-fluid" id="map"></div>
  <div></div>
  <script>
    
	  var map = L.map('map').setView([22.7196, 75.85], 4);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

var searchControl = L.esri.Geocoding.geosearch().addTo(map);

var results = L.layerGroup().addTo(map);

searchControl.on('results', function (data) {
  results.clearLayers();
  for (var i = data.results.length - 1; i >= 0; i--) {
	results.addLayer(L.marker(data.results[i].latlng));
  }
});
L.DrawToolbar = L.Toolbar.Control.extend({
      options: {
        actions: [
          L.Draw.Polygon,
          L.Draw.Polyline,
          L.Draw.Marker,
          L.Draw.Rectangle,
          L.Draw.Circle
        ],
        className: 'leaflet-draw-toolbar' // Style the toolbar with Leaflet.draw's custom CSS
      }
    });
    new L.DrawToolbar().addTo(map);
  </script>
   
  

  <nav>
    <div class="left-links">
      <ol><ol>
    <a class="" href="#">Menu</a>
    <button class="btn"><i class='fas fa-paper-plane'></i></button>
    <button class="btn"><i class='fas fa-pen'></i></button>
    <button class="btn"><i class='fas fa-eraser'></i></button>
    <button class="btn"><i class='fas fa-copy'></i></button>
    <button class="btn"><i class="fa fa-trash"></i></button>
    </div>
  </ol></ol>

    <br>
    <ol>
  <input type="submit" value="planning">
</ol>
  <ol>
  <input type="submit" value="survey">
</ol>
<ol>
  <input type="submit" value="execution">
</ol>


</body>
</html>