body{
	margin:0px;
	margin-top:20px;
	padding: 0px;
 }
 nav{
	display: flex;
	position: fixed;
	top:0;
	width: 25%;
	background-color:solid purple;
	overflow: auto;
	height: auto;
 }
 /* .left-links{
	flex:2 1 25px;
 }
 .links {
	display: inline-block;
	text-align: center;
	padding: 7px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 17px;
	font-weight: bolder;
 } */
 /* .links:hover {
	border-bottom: 2px solid purple;
 }
 .selected{
	border-bottom: 2px solid purple;
 }

 .nav-wrap.container {
	text-align: center;
  }
  */
.btn {
background-color: solid purple;
border: none;
color:solid purple;
padding: 12px 16px;
font-size: 8px;
cursor: pointer;
}

.btn:hover {
	background-color: solid purple;
  }